@import url(//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'SoDo Sans SemiBold', 'Open Sans', sans-serif, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
}

.navbar {
  padding: 8px 15px;
  margin-bottom: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.navbar-left svg {
  width: 50px;
}

.navbar-left div {
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-left div:hover,
.find-a-store:hover {
  color: #00754a;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left > *,
.navbar-right > * {
  margin: 10px;
}

.find-a-store {
  display: flex;
  align-items: center;
}

.navbar-right svg {
  height: 10px;
  width: 10px;
}

.sign-in,
.join-now {
  font-weight: 500;
  border: 1px solid black;
  border-radius: 40px;
  padding: 7px 16px;
  text-align: center;
  line-height: 1.2;
}

.join-now {
  background-color: black;
  color: white;
}

.join-now:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

.sign-in:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.product {
  display: flex;
  margin: 35px 0px;
}

.product img {
  max-width: 100%;
  height: 100%;
}

.product-left,
.product-right {
  max-width: 50%;
  width: 50%;
}

.product-left {
  background-color: #d40031;
}

.product-right {
  background-color: #1e3932;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-title {
  font-size: 1.7rem;
  text-size-adjust: 100%;
  width: 75%;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 30px;
}

.product-container {
  margin: 40px 0px;
}

.product-description {
  width: 75%;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  font-size: 1.4rem;
  margin: 0px 2rem;
  font-weight: 400;
}

.product-description span {
  font-size: 0.5rem;
  vertical-align: text-top;
}

.product-button {
  border: 1px solid white;
  max-width: max-content;
  border-radius: 40px;
  font-size: 1rem;
  padding: 5px 20px;
  margin-bottom: 30px;
}

.product-button-white {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.detail-container {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 0px;
}

.details {
  font-family: 'Open Sans';
  font-weight: 400;
  width: 60%;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.8;
}

.details a {
  color: black;
}
